{% extends 'core/base.html' %}

{% block content %}

<div id="page-wrapper">

    <br>
    <div class="row">

        {% if messages %}

        <div class="alert alert-success"  >

            {% for message in messages %}
            {{ message }}
            {% endfor %}

        </div>

        {% endif %}

        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Editar Cliente

            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg">
                        <div class="container">

                            <form action="." method="post">
                                {% csrf_token %}

                                <div class="row">
                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            <label>{{ cliente.nome.label }}</label>
                                            {{ cliente.nome.errors }}
                                            {{ cliente.nome }}
                                        </div>
                                        <div class="form-group">
                                            <label >{{ cliente.email.label}}</label>
                                            {{ cliente.email.errors }}
                                            {{ cliente.email }}
                                        </div>

                                        <div class="form-group">
                                            <label >{{ cliente.telefone.label}}</label>
                                            {{ cliente.telefone.errors }}
                                            {{ cliente.telefone }}
                                        </div>
                                        <div class="form-group">
                                            <label >{{ cliente.cpf.label}}</label>
                                            {{ cliente.cpf.errors }}
                                            {{ cliente.cpf }}
                                        </div>
                                        <div class="form-group">
                                            <label >{{ cliente.slug.label}}</label>
                                            {{ cliente.slug.errors }}
                                            {{ cliente.slug }}
                                        </div>

                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label >{{ endereco.tipo.label}}</label>
                                            {{ endereco.tipo.errors }}
                                            {{ endereco.tipo }}
                                        </div>

                                        <div class="form-group">
                                            <label >{{ endereco.rua.label}}</label>
                                            {{ endereco.rua.errors }}
                                            {{ endereco.rua }}
                                        </div>

                                        <div class="form-group">
                                            <label >{{ endereco.numero.label}}</label>
                                            {{ endereco.numero.errors }}
                                            {{ endereco.numero }}
                                        </div>
                                        <div class="form-group">
                                            <label >{{ endereco.complemento.label}}</label>
                                            {{ endereco.complemento.errors }}
                                            {{ endereco.complemento }}
                                        </div>

                                        <div class="form-group">
                                            <label >{{ endereco.cep.label}}</label>
                                            {{ endereco.cep.errors }}
                                            {{ endereco.cep }}
                                        </div>
                                        <div class="form-group">
                                            <label >{{ endereco.cliente.label}}</label>
                                            {{ endereco.cliente.errors }}
                                            {{ endereco.cliente }}
                                        </div>
                                    </div>

                                </div>





                                <button type="submit" class="btn btn-success">Submit</button>
                                <button type="submit" class="btn btn-primary">Voltar</button>

                                <a href="{% url 'core:delete' clientes %}" type="submit" class="btn btn-danger">Deletar</a>
                            </form>
                        </div>

                    </div>

                    <!-- /.col-lg-8 (nested) -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>


</div>
<!-- /.panel .chat-panel -->

{% endblock content %}